*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #aadcb5;
    overflow: hidden;
  }
  
  section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
  }
  
  section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  
  section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 998;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  
  section .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
  }
  
  section .wave.wave4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  
  @keyframes animate{
    0%
    {
      background-position-x: 0;
    }
    100%
    {
      background-position-x: 1000px;
    }  
  }
  
  @keyframes animate2{
    0%
    {
      background-position-x: 0;
    }
    100%
    {
      background-position-x: -1000px;
    }  
  }
  
  .my-container {
    max-width: 750px;
    background: rgb(254, 254, 254);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 18px -9px rgba(0, 0, 0, 0.98);
    box-shadow: 0px 0px 18px -9px rgba(0, 0, 0, 0.98);
  }
  
  .muted-text {
    font-size: 13.5px;
  }
  
  .form-control:focus {
    box-shadow: none;
    border: 1px solid #12664f;
  }
  
  .btn-custom {
    background-color: #12664f !important;
    border: #12664f;
  }
  
  .btn-custom:hover {
    background-color: #27705d !important;
  }
  
  .btn-custom:active {
    box-shadow: none !important;
  }
  
  .auth-btn {
    background-color: #fafbfc;
    height: 40px;
    border-radius: 5px !important;
    -webkit-box-shadow: 1px 0px 14px -4px #ababab;
    box-shadow: 1px 0px 14px -4px #ababab;
  }
  
  .auth-btn:focus {
    box-shadow: none;
    border: none;
    background-color: rgb(224, 224, 224);
  }
  
  .auth-btn:hover {
    background-color: rgb(248, 248, 248) !important;
    border: 1px solid rgb(248, 248, 248) !important;
  }
  
  .strip {
    text-decoration: none !important;
    color: white !important;
  }
  
  .inp{
    width: 330px;
  }
  
  .my-col{
    border-right: 1px solid silver;
  }
  
  .auth{
    width: 330px;
  }