.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.the-container {
  padding-top: 25px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.sidemenu-open + .the-container {
  margin-left: 230px;
}


.p-name {
  font-size: 25px;
  font-weight: 500;
  mix-blend-mode: multiply;
}

.share {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4573d2;
  color: white;
  height: 30px;
  width: 75px;
  border: 1px solid #4573d2;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.icon{
  margin-top: -10px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 5px;
}

.icon:hover{
  background-color: rgb(204, 204, 204, 0.7);
}

.views {
  border-bottom: 1px solid rgb(224, 224, 224);
}

.views-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
}

.grant{
  font-weight: bolder;
  border-bottom: 2px solid black;
  cursor: pointer;
  height: 25px;
}

.revoke{
  font-weight: normal;
  border-bottom: 0px solid black;
  cursor: pointer;
}
.views-container div{
  transition: 0.25s;
}
.views-container div:hover {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.views-container .grant:hover {
  font-weight: bolder;
}

.views-container .revoke:hover {
  font-weight: bolder;
  border-bottom: 2px solid black;
}

.views-container .grant.active:hover {
  font-weight: bolder;
  border-bottom: 2px solid black;
}

.views-container .revoke.active:hover {
  font-weight: normal;
  border-bottom: 0px solid black;
}

.actions{
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
}

.add-task{
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 85px;
  cursor: pointer;
}

.add-task:hover{
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(249, 249, 249);
}

.filter{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  height: 30px;
  width: 65px;
  cursor: pointer;
}

.filter:hover{
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(249, 249, 249);
}

.sort{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  height: 30px;
  width: 60px;
  cursor: pointer;
}

.sort:hover{
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(249, 249, 249);
}

.headers{
  display: flex;
  align-items: center;
  font-size: 13px;
  border-top: 1px solid rgb(224, 224, 224);
  border-bottom: 1px solid rgb(224, 224, 224);
  height: 35px;

}

 
.task-name{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-right: 1px solid rgb(224, 224, 224);
  cursor: pointer;


}

.task-name:hover{
  background-color: rgb(249, 249, 249);
}

.assignee{
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-right: 1px solid rgb(224, 224, 224);
  cursor: pointer;
}

.assignee:hover{
  background-color: rgb(249, 249, 249);
}

.due-date{
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-right: 1px solid rgb(224, 224, 224);
  cursor: pointer;
}

.due-date:hover{
  background-color: rgb(249, 249, 249);
}

.priority{
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-right: 1px solid rgb(224, 224, 224);
  cursor: pointer;
}

.priority:hover{
  background-color: rgb(249, 249, 249);
}

.status{
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-right: 1px solid rgb(224, 224, 224);
  cursor: pointer;
}

.status:hover{
  background-color: rgb(249, 249, 249);
}


.state {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.update-popover{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  height: 300px;
  padding-top: 10px;
}

.custom-popover-body{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 2px;
}

/*.update-popover:hover{
  background-color: rgb(245, 245, 245);
}*/


.update-project-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(107, 107, 107, 0.3);
  border-top: 1px solid rgb(107, 107, 107, 0.3);
  width: 160px;
  height: 33px;
  cursor: pointer;
  font-size: 13px;
}

.update-project-btn:hover{
  background-color: rgba(246, 246, 246, 0.5);
  font-weight: 500;
}

.copy-link-btn{
  display: flex;
  align-items: center;
 
  width: 160px;
  height: 33px;
  cursor: pointer;
  font-size: 13px;
}

.copy-link-btn:hover{
  background-color: rgba(246, 246, 246, 0.5);
  font-weight: 500;
}

.duplicate{
  display: flex;
  align-items: center;
  width: 160px;
  height: 33px;
  cursor: pointer;
  font-size: 13px;
  border-bottom: 1px solid rgb(107, 107, 107, 0.3);
}

.duplicate:hover{
  background-color: rgba(246, 246, 246, 0.5);
  font-weight: 500;
}


.custom-input{
  font-size: 13px;
}