body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.the-container {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.sidemenu-open + .the-container {
  margin-left: 260px;
}

.p-name{
  font-size: 25px;
  font-weight: 500;
  mix-blend-mode:multiply;
}

.share{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4573d2;
  color: white;
  height: 30px;
  width: 75px;
  border: 1px solid #4573d2;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
}