.bg {
  width: 100%;
  height: 100vh;
  background: #aadcb5;
  overflow: hidden;
}

.content {
  background-color: rgb(249, 249, 249);
  height: 500px;
  width: 500px;
  border-radius: 50%;
}

.logo {
  height: 150px;
  width: 150px;
}

.my-text {
  font-size: 25px;
  font: bolder;
  color: #848aa7;
}

.u-t {
  font-size: 17px;
  font: bolder;
  color: #5f6587;
}

.p-6 {
  padding: 50px;
}
.ctm-button{
  padding: 10px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color:#aadcb5;
  transition: 0.5s;
}
.ctm-button:hover{
  background-color: #12664f;
}
.ctm-link {
  color: #fff;
  transition: color 0.3s ease;
  text-decoration: none;
}

  
  
  
  
  
  