.inp {
  width: 330px;
}

.btn-custom {
  background-color: #12664f !important;
  border: #12664f;
}

.btn-custom:active{
  color: white;
}

.error-msg{
  font-size: 12px;
  font-style: italic;
  color: rgb(214, 75, 75);
  margin-bottom: -13px;
}

.break{
  margin-top: 20px;
  margin-bottom: 15px;
}