.custom-footer{
    background-color: #12664f;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 11px;
}

.copy-right{
    color: white;
}

.invite-user{
    color: white;
    
    cursor: pointer;
}