.custom-navbar {
  background-color: #12664f !important;
  max-height: 60px;
}

.custon-input {
  background-color: #034e3b;
  border: 0px solid #034e3b;
  height: 35px;
  width: 300px;
  
}

.custon-input::placeholder {
  color: white;
  mix-blend-mode:overlay;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #7a82ab;
  border-radius: 30px;
  background-color: #7a82ab;
}

.aid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  background-color: #ffffff;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #7a82ab;
  border-radius: 30px;
  background-color: #7a82ab;
}

.custom-bars{
  cursor: pointer;
  margin-right: 35px;
}

.custon-icon{
  background-color: #034e3b;
  border: 0px solid #034e3b;
}