.custom-navbar {
  background-color: #12664f !important;
  max-height: 60px;
}

.custon-input {
  background-color: #034e3b;
  border: 0px solid #034e3b;
  border-radius: 20px;
  height: 34px;
  width: 350px !important;
}

.custon-input::placeholder {
  color: white;
  mix-blend-mode: overlay;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #7a82ab;
  border-radius: 30px;
  background-color: #7a82ab;
}

.aid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #7a82ab;
  border-radius: 30px;
  background-color: #7a82ab;
}

.custom-bars {
  cursor: pointer;
  margin-right: 35px;
}

.custon-icon {
  background-color: #034e3b;
  border: 0px solid #034e3b;
  border-radius: 20px;
}

.custom-popover {
  position: fixed;
  height: 250px;
  width: 250px;
  margin-top: 5px;
  border: none;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(148, 148, 148, 0.66);
  box-shadow: 0px 0px 10px 1px rgba(148, 148, 148, 0.66);
}

.acc {
  font-size: 13px;
  font-weight: bolder;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #7a82ab;
  border-radius: 30px;
  background-color: #7a82ab;
}

.user-name-email {
  font-size: 13px;
  display: flex;
  flex-direction: column;
}

.user-info {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.manage-account {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-top: 1px solid rgb(182, 182, 182, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}

.manage-account:hover {
  color: #7a82ab;
}

.settings {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-top: 1px solid rgb(182, 182, 182, 0.5);
  border-bottom: 1px solid rgb(182, 182, 182, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}

.settings:hover {
  color: #7a82ab;
}

.logout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid rgb(182, 182, 182, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}

.logout:hover {
  color: #7a82ab;
}

.custom-notif-popover {
  max-width: none !important;
  width: 380px;
  /*height: 250px;*/
  position: fixed;
  margin-top: 15px;
  margin-right: 15px;
  border: none;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(148, 148, 148, 0.66);
  box-shadow: 0px 0px 10px 1px rgba(148, 148, 148, 0.66);
}

.custom-poper-head{
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  margin: 8px;
}

.custom-notif-popover .popover-arrow {
  display: none;
}

.custom-popover-body {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-left: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.invitation-to-project {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 60px;
  padding-top: 8px;
  border-radius: 5px;
  background-color: #f6fae9;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(171, 171, 171, 0.4);
  box-shadow: 0px 0px 5px -1px rgba(171, 171, 171, 0.4);
}

.invite-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 150px;
}

.accpet-refuse-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

.inviter {
  font-weight: 500;
  color: #536def;
}

.project-invited {
  font-weight: 500;
  color: #536def;
}

.refuse-invitation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 81, 81);
  border-radius: 3px;
  color: white;
  height: 20px;
  width: 45px;
  font-size: 10px;
  cursor: pointer;
  transition: 0.1s;
}

.refuse-invitation:hover {
  height: 22px;
  width: 46px;
  font-weight: 500;
}

.accept-invitation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(49, 156, 60);
  border-radius: 3px;
  color: white;
  height: 20px;
  width: 45px;
  font-size: 10px;
  cursor: pointer;
  transition: 0.1s;
}

.accept-invitation:hover {
  height: 22px;
  width: 46px;
  font-weight: 500;
}

.task-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 65px;
  padding-top: 8px;
  border-radius: 5px;
  background-color: #f6fae9;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(171, 171, 171, 0.4);
  box-shadow: 0px 0px 5px -1px rgba(171, 171, 171, 0.4);
}

.task-msg{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 200px;
}

.t-msg{
  width: 100%;
}
